VITE_APP_BASE_NAME=/

VITE_BACKEND_ENDPOINT=https://example.com
VITE_HOME_QR_PATH=/assets/qrcodes/qrcode-home.svg
VITE_LANDING_QR_PATH=/assets/qrcodes/qrcode-landing.svg

VITE_APP_ENCRYPT_PASSWORD=false
VITE_APP_TOKEN_ROTATE_INTERVAL=60000
